# Core functionality - changes here should be rare!
/src/app.py                   @lenarduzziadam
/src/backend/database.py      @lenarduzziadam
/src/backend/routers/auth.py  @lenarduzziadam

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lenarduzziadam
